.footer {
  position: relative;
  z-index: 1;
  background-color: $white-color;
  &__container {
    @extend %container;
  }
  &__lists-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
  }
  &__wrapper {
    margin-top: 244px;
    margin-left: 20px;
    margin-right: 20px;
  }
  &__header {
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.42;
    color: #98a2b3;
  }
  &__item:not(:last-child) {
    margin-bottom: 12px;
  }
  &__link {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #667085;
  }
  &__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 33px;
    padding-bottom: 48px;
    border-top: 1px solid #eaecf0;
  }
  &__logo {
    font-size: 44.823px;
    font-weight: 500;
    color: $black-color;
  }
  &__copyright {
    color: #98a2b3;
    font-size: 16px;
    line-height: 1.5;
  }
}
