.header {
  &__container {
    @extend %container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 94px;
  }
  &__logo {
    color: $black-color;
    font-family: 'Clash Display', sans-serif;
    font-size: 60.4px;
    font-weight: 500;
  }
  &__menu {
    display: flex;
    align-items: center;
    gap: 62px;
  }
  &__list {
    list-style: none;
    display: flex;
    gap: 60px;
  }
  &__item-link {
    color: $black-color;
    &:hover,
    &:focus {
      color: #4e4d4d;
    }
  }
  &__button {
    padding: 17px 37px;
    border-radius: 10px;
    border: 3px solid $black-color;
    color: $white-color;
    background-color: $black-color;
    cursor: pointer;
  }
  &__button:hover,
  &__button:focus {
    color: $black-color;
    background-color: $white-color;
  }
}
